.leaves{
    .leave1{
        top: 104px;
    }
    .leave2{
        top: 202px;
    }
    .leave3{
        top: 292px;
    }
    .leave4{
        top: 431px;
    }
    .leave5{
        top: 581px;
    }

    .leave6{
        top: 130px;
    }
    .leave7{
        top: 253px;
    }
    .leave8{
        top: 431px;
    }
    .leave9{
        top: 537px;
    }
    .leave10{
        top: 660px;
    }
}