<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/galary.css') }}">
    <script defer src="{{ url_for('static', filename='js/cardProcessing.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <header>
        <p>КАТАЛОГ</p>
    </header>

    <div class="cards">
        <form class="card" method="post">
            <input type="text" class="none" name="name" value="Молли баллон далматин">
            <input type="text" class="none" name="title" value="Молли баллон<br>далматин">
            <input type="number" class="none" name="price" value="190">
            <input type="text" class="none" name="img" value="/static/img/galary/molly.png">
            <img src="{{ url_for('static', filename='img/galary/molly.png') }}" alt="">
            <p>
                Молли баллон<br>
                далматин<br>
                190 руб
            </p>
            <div class="count">
                <button type="submit" value="minus" name="action">-</button>
                <p class="out">{{ count[i] }}</p>
                {% set i = i+1 %}
                <button type="submit" value="plus" name="action">+</button>
            </div>
            <a class="buy" href="/cart">КУПИТЬ</a>
        </form>
        <form class="card" method="post">
            <input type="text" class="none" name="name" value="Пецилия Микки Маус">
            <input type="text" class="none" name="title" value="Пецилия<br>Микки Маус">
            <input type="number" class="none" name="price" value="200">
            <input type="text" class="none" name="img" value="/static/img/galary/pecilia.png">
            <img src="{{ url_for('static', filename='img/galary/pecilia.png') }}" alt="">
            <p>
                Пецилия<br>
                Микки Маус<br>
                200 руб
            </p>
            <div class="count">
                <button type="submit" value="minus" name="action">-</button>
                <p class="out">{{ count[i] }}</p>
                {% set i = i+1 %}
                <button type="submit" value="plus" name="action">+</button>
            </div>
            <a class="buy" href="/cart">КУПИТЬ</a>
        </form>
        <form class="card" method="post">
            <input type="text" class="none" name="name" value="Карликовая пиранья">
            <input type="text" class="none" name="title" value="Карликовая<br>пиранья">
            <input type="number" class="none" name="price" value="900">
            <input type="text" class="none" name="img" value="/static/img/galary/pirania.png">
            <img src="{{ url_for('static', filename='img/galary/pirania.png') }}" alt="">
            <p>
                Карликовая<br>
                пиранья<br>
                900 руб
            </p>
            <div class="count">
                <button type="submit" value="minus" name="action">-</button>
                <p class="out">{{ count[i] }}</p>
                {% set i = i+1 %}
                <button type="submit" value="plus" name="action">+</button>
            </div>
            <a class="buy" href="/cart">КУПИТЬ</a>
        </form>
        <form class="card" method="post">
            <input type="text" class="none" name="name" value="Боция шахматная">
            <input type="text" class="none" name="title" value="Боция<br>шахматная">
            <input type="number" class="none" name="price" value="1200">
            <input type="text" class="none" name="img" value="/static/img/galary/bozia.png">
            <img src="{{ url_for('static', filename='img/galary/bozia.png') }}" alt="">
            <p>
                Боция<br>
                шахматная<br>
                1200 руб
            </p>
            <div class="count">
                <button type="submit" value="minus" name="action">-</button>
                <p class="out">{{ count[i] }}</p>
                {% set i = i+1 %}
                <button type="submit" value="plus" name="action">+</button>
            </div>
            <a class="buy" href="/cart">КУПИТЬ</a>
        </form>
        <form class="card" method="post">
            <input type="text" class="none" name="name" value="Лабео альбинос">
            <input type="text" class="none" name="title" value="Лабео<br>альбинос">
            <input type="number" class="none" name="price" value="190">
            <input type="text" class="none" name="img" value="/static/img/galary/lebeo.png">
            <img src="{{ url_for('static', filename='img/galary/lebeo.png') }}" alt="">
            <p>
                Лабео<br>
                альбинос<br>
                190 руб
            </p>
            <div class="count">
                <button type="submit" value="minus" name="action">-</button>
                <p class="out">{{ count[i] }}</p>
                {% set i = i+1 %}
                <button type="submit" value="plus" name="action">+</button>
            </div>
            <a class="buy" href="/cart">КУПИТЬ</a>
        </form>
    </div>

    <div class="leaves">
        <img src="{{ url_for('static', filename='img/leaves/leave4.svg') }}" alt="" class="left leave leave1">
        <img src="{{ url_for('static', filename='img/leaves/leave1.svg') }}" alt="" class="left leave leave2">
        <img src="{{ url_for('static', filename='img/leaves/leave5.svg') }}" alt="" class="left leave leave3">
        <img src="{{ url_for('static', filename='img/leaves/leave2.svg') }}" alt="" class="left leave leave4">
        <img src="{{ url_for('static', filename='img/leaves/leave3.svg') }}" alt="" class="left leave leave5">

        <img src="{{ url_for('static', filename='img/leaves/leave1.svg') }}" alt="" class="right leave leave6">
        <img src="{{ url_for('static', filename='img/leaves/leave3.svg') }}" alt="" class="right leave leave7">
        <img src="{{ url_for('static', filename='img/leaves/leave5.svg') }}" alt="" class="right leave leave8">
        <img src="{{ url_for('static', filename='img/leaves/leave6.svg') }}" alt="" class="right leave leave9">
        <img src="{{ url_for('static', filename='img/leaves/leave2.svg') }}" alt="" class="right leave leave10">
        <img src="{{ url_for('static', filename='img/leaves/leave4.svg') }}" alt="" class="right leave leave11">
    </div>

    <footer>
        <a href="/home"><img src="{{ url_for('static', filename='img/bar/home.svg') }}" alt=""></a>
        <a href="/galary"><img src="{{ url_for('static', filename='img/bar/galary-active.svg') }}" alt=""></a>
        <a href="/services"><img src="{{ url_for('static', filename='img/bar/services.svg') }}" alt=""></a>
        <a href="/cart"><img src="{{ url_for('static', filename='img/bar/cart.svg') }}" alt=""></a>
    </footer>
</body>
</html>